header {
    background-color: #2a1509;#623e2a;
    color: rgb(186, 159, 144);
    padding: 55px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
    position: relative;
}
.sumario {
    background: #623e2a;
    color: rgb(12, 8, 5);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
footer {
    background: #3e2c23;
    color: rgb(186, 159, 144);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
.voltar{
    text-align: center;
    color: #2a1509;
}
.galeria {
    background-color: #bfa98c;
  
    max-width: 300px;
    
    padding: 1px;
   
    text-align: center;
}
.texto{
    color: #000000;
}